<!-- notes partial -->
  <div class="widget">
      <div class="widget-header">
        <i class="icon-user"></i>
        <h3>People</h3>
      </div> <!-- /widget-header -->
      <div class="widget-content">

		<input type="text" ng-model="query" class="people-search input-medium" placeholder="Search...">
		<div class="media" ng-repeat="person in people | filter:query ">
			<a class="pull-left" href="#">
				<a ng-click="notePerson()">
					<img ng-show="person.image.length" src="/linkedin_images/{{person.image}}.jpeg" class="media-object connection"></a>
				<a ng-click="notePerson()">
					<img ng-hide="person.image.length" src="<%= image_path("default_profile.png") %>"  class="media-object connection">
				</a>
			</a>
			<div class="media-body">
				<div class="media-heading">
					<a ng-click="notePerson()" class="connection">
						{{person.first_name}} {{person.last_name}}
					</a>
				</div>
                <raty id="star-{{person.id}}" score="{{person.stars}}" number="5"></raty>
			</div>
		</div>

	</div>
</div>