<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">TheHubCRM</a>
    <ul class="nav">
      <li class="active"><a href="#">Connect</a></li>
      <li><a href="#">Tasks</a></li>
      <li><a href="#">Reminders</a></li>
      <li><a href="#">Job Board</a></li>
      <li><a href="#">Settings</a></li>
    </ul>
  </div>
</div>