.accordion-heading {
	width: 100%;
	float: left;
}

.accordion-group {
	border: 0px solid black !important;
}

a.accordion-toggle {
	width: 80%;
	float: left;
}

a.edit-note {

}

.accordion-body {
	float: left;
}

img.connection {
	border: 1px solid white;
	height: 41px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	width: 41px;
	opacity: 0.7;
	float: left;
	cursor: pointer;
	margin-bottom: 5%;
	margin-right: 5%;
	margin-top: 2%;
	bacground-color: #cccccc;
}

img.connection:hover {
		opacity: 1;
}
